.form-control {
  margin-top: 20px;
}
.list-container {
  width: 100%;
  padding: 10px 0;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.main-container {
  padding-top: 100px;
}

h4.l-screen-title {
  margin-bottom: 20px;
}

.l-filters-panel {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 15px 0;
  padding: 10px;
}

.l-loader-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 999;
}

.modal-dialog {
  background: #fff;
  border-radius: 5px;
}

.list-group {
  margin: 20px 0;
}

.list-group .row {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

.row-header {
  font-weight: bold;
}

.l-spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  animation: spin .7s linear infinite;
  position: relative;
  margin: auto;
  margin-top: 200px;
  z-index: 9999;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.l-checkbox {
  margin-right: 10px;
  display: inline-block;
  float: left;
}

.l-text-field {
  vertical-align: top;
}

.l-heading-label {
  font-size: 14px;
  padding-left: 15px;
}

.l-landing-screen {
  display: block;
  padding: 100px 0;
}
